@model List<EWOS_MVC.Models.MachineCategoriesModel>

@{
    int? selectedId = ViewData["SelectedId"] as int?;
}

<select name="MachineCategoryId" id="MachineCategoryId" class="form-select" aria-label="Default select example" required>
    <option value="" disabled selected>-- Select Category --</option>
    @foreach (var category in Model)
    {
        <option value="@category.Id" selected="@(category.Id == selectedId ? "selected" : null)">
            @category.CategoryName
        </option>

    }
</select>