@{
    ViewData["Title"] = "Form Request";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .form-container {
        border: 1px solid #dee2e6; /
        border-radius: 8px;
        box-shadow: 0 2px 8px rgb(0 0 0 / 0.1);
        padding: 2rem 2.5rem;
        background-color: #fff;
    }

        .form-container h3 {
            font-weight: 600;
            margin-bottom: 1.5rem;
            color: #333;
        }

    .form-label {
        font-weight: 500;
    }

    .btn-submit {
        min-width: 150px;
    }
</style>

<div class="container py-2">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-7">
            <div class="form-container">
                <h3 class="text-center">Form New Request</h3>


                @if (TempData["Error"] != null)
                {
                    <div class="alert alert-danger py-2" id="showError">@TempData["Error"]</div>
                }

                <form method="post" action="/Requestor/NewRequest/CreateNewRequest" enctype="multipart/form-data" id="form">
                    @Html.AntiForgeryToken()
                    <div class="row g-3 align-items-start">

                        <!-- Kategori Mesin -->
                        <div class="col-12 col-sm-6">
                            <label for="machineCategory" class="form-label">
                                <i class="bi bi-list-ol me-1"></i> Category Request
                            </label>
                            @await Component.InvokeAsync("MachineCategories")
                        </div>
                        <!-- Part Name -->
                        <div class="col-12 col-sm-6">
                            <label for="PartName" class="form-label">
                                <i class="bi bi-pencil-square"></i> Item Name
                            </label>
                            <input type="text" class="form-control" id="PartName" name="PartName" placeholder="Input Item Name" />
                        </div>
                        <!-- SAPID -->
                        <div class="col-12 col-sm-6 " id="sapid">
                            <label for="SAPID" class="form-label">
                                <i class="bi bi-123"></i> SAPID
                            </label>
                            <input type="number" class="form-control" id="SAPID" name="SAPID" placeholder="Input SAPID" />
                        </div>
                        <!-- External Fab Price -->
                        <div class="col-12 col-sm-6" id="price">
                            <label for="ExternalFabCost" class="form-label">
                                <i class="bi bi-currency-dollar"></i> External Price (USD)
                            </label>
                            <input type="number" class="form-control" id="ExternalFabCost" name="ExternalFabCost" placeholder="Input Price" />
                        </div>
                        <!-- Container Quantity dan Unit -->
                        <div class="col-12 col-sm-6" id="qty">
                            <div class="row g-2 align-items-end">
                                <!-- Quantity -->
                                <div class="col-6">
                                    <label for="quantity" class="form-label fw-semibold">
                                        <i class="bi bi-1-circle"></i> Quantity
                                    </label>
                                    <input type="number" class="form-control" id="quantity" value="1" readonly />
                                </div>

                                <!-- Unit -->
                                <div class="col-6">
                                    <label for="unit" class="form-label fw-semibold">
                                        <i class="bi bi-list me-1"></i> Unit
                                    </label>
                                    <select class="form-select" id="unit" name="Unit">
                                        <option value="Pcs">Pcs</option>
                                        <option value="Set">Set</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-text mt-1">
                                Can only submit 1 pcs during the evaluation period.
                            </div>
                        </div>

                        <!-- Target Selesai -->
                        <div class="col-12 col-sm-6">
                            <label for="crd" class="form-label">
                                <i class="bi bi-calendar-event-fill me-1"></i> Date Required
                            </label>
                            <input type="date" class="form-control" id="crd" name="CRD" required />
                            <div class="form-text text-muted">Input the date when you need this request ready.</div>
                        </div>

                        <!-- File design -->
                        <div class="col-12 col-sm-6">
                            <label for="fileDesign" class="form-label">
                                <i class="bi bi-file-earmark-zip-fill"></i> File Design
                            </label>
                            <input class="form-control" type="file" id="fileDesign" name="fileDesign" />
                            <div class="form-text text-muted text-sm">Max 1MB, .zip only is allowed.</div>
                        </div>

                        <!-- File Drawing -->
                        <div class="col-12 col-sm-6">
                            <label for="fileDrawing" class="form-label">
                                <i class="bi bi-file-earmark-text-fill me-1"></i> File Drawing
                            </label>
                            <input class="form-control" type="file" id="fileDrawing" name="fileDrawing" />
                            <div class="form-text text-muted text-sm">Max 1MB, .pdf only is allowed.</div>
                        </div>

                        <!-- File Quotation -->
                        <div class="col-12 col-sm-6" id="quatationcontainer">
                            <label for="fileQuotation" class="form-label">
                                <i class="bi bi-file-earmark-spreadsheet-fill me-1"></i> File Quotation
                            </label>
                            <input class="form-control" type="file" id="fileQuotation" name="fileQuotation" />
                            <div class="form-text text-muted text-sm">Max 1MB, .pdf only is allowed.</div>
                        </div>

                        <!-- Description -->
                        <div class="col-12">
                            <label for="description" class="form-label">
                                <i class="bi bi-chat-left-text-fill me-1"></i> Deskripsi
                            </label>
                            <textarea class="form-control" id="description" name="Description" rows="3" placeholder="Input Deskripsi " required></textarea>
                        </div>

                        <!-- Submit Button -->
                        <div class="col-12 text-center my-4">
                            <button type="submit" class="btn btn-success px-5">
                                Request
                            </button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="~/js/Requestor/newRequest.js"></script>