html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*style navigasi tab*/
.nav-tabs {
    border-bottom: 2px solid #dee2e6;
}

    .nav-tabs .nav-link {
        background: #fff;
        border: 1px solid #e5e5e5 !important;
        box-shadow: 0 1px 3px rgba(0,0,0,0.08);
        border-bottom: none !important;
        color: #6c757d;
        font-weight: 500;
        padding: 3px 18px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-style: groove;
    }

.nav-tabs .nav-link.active {
    color: #1aaa55;
    font-weight: 600;
    border: 1px solid #dee2e6 !important; 
    border-bottom: 3px solid #1aaa55 !important; 
    background: #fff;
}

.nav-tabs .nav-link:hover {
    color: #1aaa55;
}

/*loading efek*/

#globalLoadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 5000 !important;
}

#loadingBox {
    background: white;
    padding: 50px 75px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 25px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 6000 !important;
}

    #loadingBox .spinner-border {
        width: 3rem;
        height: 3rem;
        margin-bottom: 10px;
    }

#loadingText {
    font-size: 16px;
    color: #333;
}