@{
    int currentMonth = DateTime.Now.Month;
    int currentYear = DateTime.Now.Year;
    int? selectedYear = ViewData["SelectedYear"] as int?;

    int maxMonth = selectedYear == null ? currentMonth : 12;
}

<select name="MonthSelect" class="form-select" required>
    @if (selectedYear != null)
    {
        <option value="" selected>-- Pilih Bulan --</option>
    }

    @for (int i = 1; i <= maxMonth; i++)
    {
        var monthName = new DateTime(currentYear, i, 1)
        .ToString("MMMM");

        <option value="@i"
                selected="@(selectedYear == null && i == currentMonth ? "selected" : null)">
            @monthName
        </option>
    }
</select>
