@model EWOS_MVC.Models.ItemFabricationModel

<div class="modal-header bg-danger text-white">
    <h5 class="modal-title" >Batalkan Evaluasi Fabrikasi</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<form method="post" action="/FabricationHistory/CancelEval">
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <p>Yakin ingin batalkan evaluasi untuk <b>"@Model.ItemRequest?.PartName"</b></p>

        <!-- Hidden untuk kirim dataa -->
        <input type="hidden" name="itemFabId" value="@Model.Id" />

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
        <button type="submit" class="btn btn-primary">Ya</button>
    </div>
</form>