@model List<EWOS_MVC.Models.WeeksSettingModel>

@{
     var today = DateTime.Now;

    var currentWeek = Model.FirstOrDefault(w => w.StartDate <= today && w.EndDate >= today);
    int? selectedId = ViewData["SelectedId"] as int?;
    int? SelectedYear = ViewData["SelectedYear"] as int?;
 }

<select name="WeekSettingId" class="form-select" aria-label="Default select example" required>
    @* Tampilkan -- Pilih Minggu -- HANYA jika user memilih tahun *@
    @if (SelectedYear.HasValue && SelectedYear.Value != 0)
    {
        <text>
        <option value="" selected>-- Pilih Minggu --</option></text>
    }

    @foreach (var w in Model)
    {
        if ((!SelectedYear.HasValue || SelectedYear.Value == 0) && w.Id == selectedId)
        {
            <text>
            <option value="@w.Id" selected>Week @w.Week</option></text>
        }
        else
        {
            <text>
            <option value="@w.Id">Week @w.Week</option></text>
        }
    }
</select>


